@model Aspnetcore.Fundamentals.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

@*<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
                @Html.ActionLink("View", "Details", new {id = restaurant.Id})
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>*@

@foreach (var restaurant in Model.Restaurants)
{
    @Html.Partial("_Summary", restaurant)
}

<div>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>